.root {
  background-color: #001529;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 12px;
  :global {
    .ant-select {
      width: 100% !important;
    }
    .ant-select {
      background: #001529;

      .ant-select-selector {
        border-radius: 10px;
        overflow: hidden;
      }
    }
    .ant-input {
      background: #001529;
      padding: 12px 10px;
      border: none;
    }
    .ant-input-group {
      border: solid 2px #001529;
    }
    .ant-input-search-button,
    .ant-input-group-addon {
      background-color: #001529;
    }
    .ant-input-search-butto {
      border: none;
    }
  }
}
