#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.ant-card-cover img {
  border-radius: 10px !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
.viewout {
  position: relative;
  margin-bottom: 24px;
}

.viewout img {
  border-radius: 10px;
}
.view {
  position: absolute;
  bottom: 0;
  background-color: #99999999;
  padding: 24px;
  font-weight: bold;
}
.viewimage-right {
  width: 100%;
  height: 230px;
  left: 0px;
  top: 0px;
  z-index: -1;
  object-fit: cover;
  border-radius: 10px;
}

.viewimage {
  width: 100%;
  height: 230px;
  left: 0px;
  top: 0px;
  z-index: -1;
  object-fit: cover;
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
}

._root_13vkg_1 {
  border-radius: 10px;
}

.ant-row {
  justify-content: space-between;
}
.ant-space {
  width: 100%;
}
